{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/custom.css">
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <section class="wf100 p100 inner-header">
        <div class="container">
            <h1>Mon compte</h1>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Mon compte</a></li>
            </ul>
        </div>
    </section>

    <section class="wf100 p80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="myaccount-form">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Tu es maintenant connecter {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se
                                    déconnecter</a>
                            </div>
                        {% endif %}

                        <h3>Connexion </h3>
                        <form method="post">
                            <ul class="row">
                                <li class="col-md-12">
                                    <div class="input-group">
                                        <div class="col-md-8">
                                            <label for="inputEmail" class="required">Email</label>
                                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                                   class="form-control" required autofocus placeholder="Mail">
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <div class="input-group">
                                        <div class="col-md-8">
                                            <label for="inputPassword" class="required">Mot de passe</label>
                                            <input type="password" name="password" id="inputPassword"
                                                   class="form-control" placeholder="Mot de passe"
                                                   required>
                                        </div>
                                    </div>
                                </li>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <li class="col-md-8">
                                    <button class="register">Se connecter</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
