{% extends 'base.html.twig' %}

{% block title %}Liste des producteurs{% endblock %}

{% block body %}
	<div class="container" style="margin-top: 80px">
		<div class="row">
			
			<div class="col-md-12">
				<h1 class="title-list">Liste des favoris : </h1>
			</div>
			
			{% for favorite in favorites %}
				<div class="col-md-4">
					<div class="card card-perso">
						<a href="/producteurs/{{ favorite.username }}">
							<img src="{{ asset(favorite.profilImage) }}" class="card-img"
							     alt="ntm">
						</a>
						<div class="card-body">
							<h5 class="card-title">{{ favorite.firstName }} {{ favorite.lastName }}</h5>
							<p class="card-text"><small class="text-muted">{{ favorite.email }}</small></p>
							<div style="display: flex;justify-content: end;width: 100%">
								<div style="margin-right: 40%">
									<p class="card-text"><a href="/producteurs/{{ favorite.username }}"
									                        class="btn btn-success">En
											savoir plus</a></p>
								</div>
								<div style="display: flex;position: relative;
											width: 50px;padding-top: 10%;vertical-align: middle;
											overflow: hidden;">
									{% if app.user and favorite.id in followings %}
										<a class="favorites" href="/favoris/deleteFromList/{{ favorite.id }}">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 110"
											     preserveAspectRatio="xMinYMin meet"
											     style="display: inline-block;position: absolute;top: 0;left: 0;">
												<path fill="#FFD700" d="M1,42h107l-87,60 33-102 33,102z"/>
											</svg>
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}