{% extends 'base.html.twig' %}

{% block title %}Détails produit{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 80px">

        <hr>
        <br>
        <input class="btn btn-success" type="button" value="<" onclick="history.back()"/>

        <div class="flex-wrap" style="display: flex; justify-content: space-around; align-items: center;">
            <div style="width: 18rem;">
                <div style="margin: auto;text-align: center">
                    <img src="{{ asset(producer.profilImage) }}" class="img-thumbnail" style="width: 400px;">
                </div>
            </div>

            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <br>
                    <h1 class="card-title">{{ producer.lastName }}{{ producer.firstName }}</h1>
                    <p class="card-body">{{ producer.username }}</p>
                    <a href="mailto:{{ producer.email }}">
                        <button class="btn btn-success">Envoyer un mail</button>
                    </a>
                    <br>
                    <p style="margin-top: 5%">
                        {{ producer.address }}
                        <br>
                        <a style="margin-top: 1%" href="/carte">Voir sur la carte</a>
                    </p>
                </div>
            </div>
        </div>

        <br>
        <hr>
        <br>

    </div>

{% endblock %}
